@import '../node_modules/modern-normalize/modern-normalize.css';

html,
body {
  height: 100%;
}

/* Fixes iOS zoom when quickly tapping a button. */
button {
  touch-action: manipulation;
}

a {
  color: inherit;
}

.screen {
  flex-grow: 1;
  padding: 1em;
}

.hidden {
  display: none;
}

.section {
  margin: 1em 0;
  display: block;
}

#root {
  flex-grow: 1;
  height: 100%;
  display: flex;
}
